
.icon-quote:before { content: '\e800'; } /* '' */
.icon-logo-circle-twitter-bird:before { content: '\e801'; } /* '' */
.icon-logo-instagram:before { content: '\e802'; } /* '' */
.icon-logo-facebook:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-phone-circle:before { content: '\e805'; } /* '' */
.icon-logo-circle-facebook:before { content: '\e806'; } /* '' */
.icon-close:before { content: '\e807'; } /* '' */
.icon-back:before { content: '\e808'; } /* '' */
.icon-lock:before { content: '\e809'; } /* '' */
.icon-download:before { content: '\e80a'; } /* '' */
.icon-email-circle:before { content: '\e80b'; } /* '' */
.icon-account-circle:before { content: '\e80c'; } /* '' */
.icon-logo-instagram-1:before { content: '\e80d'; } /* '' */
.icon-play-button:before { content: '\e80e'; } /* '' */
.icon-hamburger-menu-1:before { content: '\e80f'; } /* '' */
.icon-logo-twitter-bird:before { content: '\e810'; } /* '' */