// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
  color: $input-border-color;
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';

form.form-pago>div.blockUI.blockOverlay:before{
	// margin-top: 47em!important;
	@media (max-width: 320px){ margin-top: 51em!important; }
	@media (max-width: 360px){ margin-top: 56em!important; }
	@media (max-width: 480px){ margin-top: 48em!important; }
	@media (max-width: 767px){ margin-top: 40em!important; }
	@media (max-width: 840px){ margin-top: 30em!important; }
	@media (max-width: 992px){ margin-top: 45.5em!important; }
	@media (min-width: 992px){ margin-left: 2em!important; }
	@media (min-width: 993px){ margin-top: 20em!important; margin-left: 4em!important; }
	@media (min-width: 1218px){ margin-top: 18.5em!important; margin-left: 5em!important;background-color:$primary-color!important; }
	@media (min-width: 1490px){  margin-left: 7em!important; }
}