// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
  color: $input-border-color;
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';

form.form-pago>div.blockUI.blockOverlay:before{
	margin-top: 45em!important;
	@media (max-width: 480px){ margin-top: 48em!important; }
	@media (min-width: 993px){ margin-top: 20em!important; margin-left: 4em!important; }
	@media (min-width: 1218px){ margin-top: 19em!important; margin-left: 5em!important; }
	@media (min-width: 1490px){  margin-left: 7em!important; }
}