header{
	height: 64px;
	width: 100%;
	nav {
		padding: 0px;
		height: 64px;
		a.logo{
			line-height: 64px;
			display: block;
			float: left;
			img{
				max-width: 50px;
				vertical-align: middle;
			}
		}
		.menu-desktop {
			display: inline-block;
			float: right;
			line-height: 64px;
			a {
				display: inline-block;
				padding-left:($padding-size/2); padding-right:($padding-size/2);
				font-size: 20px;
				float: left;
				@media (max-width: 1034px){ font-size: 18px; }
				&:hover, &.active {
					background-color: $primary-color;
					color: $light-color;
					.icon { color: $light-color; }
				}
			}
			img.image-user {
				width: 20px;
				vertical-align: middle;
			}
		}
		.menu-mobile{
			a.active {
				background-color: $light-color;
				color: $primary-color!important;
			}
		}
	}

	//language

	.dropdown-language{

	}

	div#lang_sel {
		float: left;
		li { width: auto; }
		a.lang_sel_sel,
		& ul ul li a{
			background-color: $light-color!important;
			color: $primary-color!important;
			border: none;
			font-size: 20px;
			padding-left:($padding-size*2.2); padding-right:($padding-size/2);
			line-height: 64px;
			font-family: 'Open Sans', 'Roboto', sans-serif;
			background: url(images/world.png) #fff 10px no-repeat;;
			&:hover {
				background-color: $primary-color!important;
				color: $light-color!important;
				background: url(images/world-light.png) #fff 10px no-repeat;
			}
		}
		& ul ul { top: 64px; }
	}

} /*end header*/

@media (orientation: portrait){
	.footer-menu {
		position: absolute;
		bottom: 10px;
		width: 90%;
	}

	a i 		{ @include transition( 0.3s ease-in-out );}
	a i:hover	{ color: lighten($primary-color, 25%);}
}