header{
	nav {
		padding: 0px;
		height: 64px;
		a.logo{
			line-height: 64px;
			display: block;
			float: left;
			img{
				max-width: 180px;
				vertical-align: middle;
			}
		}
		.menu-desktop {
			display: inline-block;
			float: right;
			line-height: 64px;
			a {
				display: inline-block;
				padding-left:($padding-size/2); padding-right:($padding-size/2);
				font-size: 20px;
				float: left;
				@media (max-width: 1034px){ font-size: 18px; }
				&:hover {
					background-color: $primary-color;
					color: $light-color;
					.icon { color: $light-color; }
				}
			}
			ul#dropdown-user {
				top: 64px!important;
				a {
					background-color: $primary-color;
					color: $light-color;
					display: block;
					width: 100%;
					&:hover {
						background-color: $light-color;
						color: $primary-color;
					}
				}
			}
			ul#dropdown-search {
				background-color: $primary-color;
				right: 0px!important; top: 64px!important;
				width: 300px!important;
				text-align: center;
			}
			img.image-user {
				width: 20px;
				vertical-align: middle;
			}
			ul#dropdown-language {
				top: 64px!important;
				a {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

@media (orientation: portrait){
	.footer-menu {
		position: absolute;
		bottom: 10px;
		width: 90%;
	}

	a i 		{ @include transition( 0.3s ease-in-out );}
	a i:hover	{ color: lighten($primary-color, 25%);}
}