header{
	img.logo{
		max-width: 150px;
		vertical-align: middle;
		padding: 5% 0;
	}
}

@media (orientation: portrait){
	.footer-menu {
		position: absolute;
		bottom: 10px;
		width: 90%;
	}

	a i 		{ @include transition( 0.3s ease-in-out );}
	a i:hover	{ color: lighten($primary-color, 25%);}
}