.background-image {
	background-position: center;
	background-size: cover;
}

.background-image--woman { background-image: url(images/photo-1456426531648-850ec2f5a462.jpg); }
.background-image--paisaje { background-image: url(images/photo-1435459183098-d8ad15d23c54.jpg); }
