.slider {
  position: relative;
  height: 400px;
  width: 100%;
  &.testimonials {
    height: 310px!important;

    .slides { height: 310px!important; }
  }

  // Fullscreen slider
  &.fullscreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    ul.slides {
      height: 100%;
    }

    ul.indicators {
      z-index: 2;
      bottom: 30px;
    }
  }

  .slides {
    background-color: $light-color;;
    margin: 0;
    height: 400px;

    li {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: inherit;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        &.profile { width: 90px; height: 90px; }
        &.quote {
          width: 22px; height: 18px;
          position: absolute
        }
      }

      .caption {
        color: #fff;
        position: absolute;
        top: 5%;
        left: 15%;
        width: 70%;
        opacity: 0;

        .content-testimonial {
          padding-left: 30px;
            p {
              color: $dark-color;
              margin-top: 0px;
            }

            h6 {
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
      }

      &.active {
        z-index: 2;
      }
    }
  }


  .indicators {
    z-index: 2;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;

    .indicator-item {
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      background-color: $light-color;
      border: 1px solid $primary-color-base;

      transition: background-color .3s;
      border-radius: 50%;

      &.active {
        background-color: $primary-color-base;
      }
    }
  }

}