//Box Model

.padding		{padding:$padding-size;}
.margin			{margin:$margin-size;}
.margin-auto 	{ margin: auto;}

.padding-sides	{padding:$padding-sides-size;}
.margin-sides	{margin:$margin-sides-size;}

.padding-vertical	{padding:$padding-vertical-size;}
.margin-vertical	{margin:$margin-vertical-size;}

.no-margin-bottom	{ margin: 0px; }


//Display

.block			{ display: block;}
.inline-block	{ display: block;}

//Position

.absolute	{ position: absolute; }
.relative	{ position: relative; }
.fixed		{ position: fixed; }

.top--0 { top: 0px; }

//Alingment

.middle		{ vertical-align: middle;}


//Colors

.color-primary		{ color: $primary-color; }
.color-secondary	{ color: $secondary-color; }
.color-secondary--transparent	{ color: $secondary-transparent; }

//Background

.bg-primary		{ background: $primary-color;}
.bg-secondary	{ background: $secondary-color;}
.bg-light		{ background: $light-color;}

//Gradients

.gradient-linear			{ @include linear-gradient( $primary-color, $secondary-color); }
.gradient-linear-secondary	{ @include linear-gradient( transparent, $secondary-transparent); }
.gradient-linear-opacity	{ @include linear-gradient( $primary-transparent, $secondary-transparent); }
.gradient-diagonal			{ @include linear-gradient(45deg, $primary-color, $secondary-color); }
.gradient-diagonal-opacity	{ @include linear-gradient(45deg, $primary-transparent, $secondary-transparent); }

//Borders

.border-right--dark 	{ border-right: 1px solid $dark-color; }
.border-bottom--dark 	{ border-bottom: 1px solid $dark-color; }