//Position

.absolute{ position: absolute; }
.relative{ position: relative; }
.fixed{ position: fixed; }

.left-30{ left: 30%}


//Colors

.color-primary{ color: $primary-color; }
.color-secondary{ color: $secondary-color; }


//Background

.bg-primary{ background: $primary-color;}

//Gradients

.gradient-linear{ @include linear-gradient( $primary-color, $secondary-color); }
.gradient-linear-opacity{ @include linear-gradient( $primary-transparent, $secondary-transparent); }
.gradient-primary{ @include linear-gradient(45deg, $primary-color, $secondary-color); }

.padding{padding:$padding;}