//Box Model

.padding-right--small--all *	{ padding-right: ($padding-size/2); }

//Box size

.width--70-all *	{ width: 70px; }

.width---100-all *	{ width: 100%!important; }

.max-width---100-all *{ max-width: 100%; }

.height-auto-all *	{ height: auto; }

//nav

nav.woocommerce-breadcrumb { display: none; }

//table

.woocommerce table.shop_table { border: none!important; }
.woocommerce table.shop_table td,
.woocommerce table.shop_table tfoot th { border-top: 1px solid $primary-color!important; }

//border

.woocommerce .woocommerce-info,
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment,
.woocommerce form.login,
.woocommerce form.register { border: none; }


//button

.woocommerce a.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{
	border-radius: 50px;
	letter-spacing: 0.5px;
	height: 45px;
	line-height: 45px;
	padding: 0 2rem;
}

.woocommerce a.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background-color: $primary-color;
	color: $light-color;
}
.woocommerce a.button.alt:hover,
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background-color: $primary-color-light;
	color: $light-color
}

.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] { color: $light-color; }

//form
.woocommerce table.cart td.actions .input-text { width: 120px; }

.woocommerce label {
	font-size: 1rem;
	color: $dark-color;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after { background-color: $primary-color; border: 2px solid $primary-color; }

// .woocommerce form .form-row-first { width: 100%!important; }

//typography

.woocommerce a,
.woocommerce-message a { color: $primary-color; }

.woocommerce .card a,
.woocommerce .mis-cursos a { color: $light-color!important; }
//icons

.woocommerce .woocommerce-info:before { color: $primary-color; }

//background

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment { background-color: $light-color; }

.woocommerce mark { background: $primary-transparent--light; }
//MY ACCOUNT

nav.woocommerce-MyAccount-navigation {
	box-shadow: none;
	border-bottom: 2px solid $primary-color!important;
	margin-bottom: $margin-size;
	z-index: initial!important;
	a { color: $dark-color; }
	ul li.is-active {
		background-color: $primary-color!important;
		a { color: $light-color!important; }
	}
}
@media(max-width:600px){ nav.woocommerce-MyAccount-navigation ul a { padding: 5px 15px; } }

address { margin-top: 20px; }