//Box Model
.margin-top---large		{ margin-top: ($margin-size*2)!important; }

.padding-right--small--all *	{ padding-right: ($padding-size/2); }

//Box size

.width--70-all *	{ width: 70px; }

.width---100-all *	{ width: 100%!important; }

.max-width---100-all *{ max-width: 100%; }

.height-auto-all *	{ height: auto; }

//nav

nav.woocommerce-breadcrumb { display: none; }

//table

.woocommerce table.shop_table { border: none!important; }
.woocommerce table.shop_table td,
.woocommerce table.shop_table tfoot th { border-top: 1px solid $primary-color!important; }

@media (max-width: 768px){
	.woocommerce table.shop_table_responsive tr td,
	.woocommerce-page table.shop_table_responsive tr td { text-align: left!important; }
}
//border

.woocommerce .woocommerce-info,
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment,
.woocommerce form.login,
.woocommerce form.register { border: none; }


//button

.woocommerce a.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{
	border-radius: 50px;
	letter-spacing: 0.5px;
	height: 45px;
	line-height: 45px;
	padding: 0 2rem;
}

.woocommerce a.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background-color: $primary-color;
	color: $light-color;
}
.woocommerce a.button.alt:hover,
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background-color: $primary-color-light;
	color: $light-color
}

.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] { color: $light-color; }

.woocommerce input.button.btn-primary-disabled {
	border: solid 1px $primary-color;
	background-color: $light-color;
	color: $primary-color!important;
	box-shadow: none;
	&:hover {
		color: $light-color!important;
		background-color: $primary-color!important;
	}
}

//form
.woocommerce table.cart td.actions .input-text { width: 120px; }

.woocommerce label {
	font-size: 1rem;
	color: $dark-color;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after { background-color: $primary-color; border: 2px solid $primary-color; }

.woocommerce form .form-row label, .woocommerce-page form .form-row label{
	display: initial;
}

// .woocommerce form .form-row-first { width: 100%!important; }

//typography

.woocommerce a,
.woocommerce-message a { color: $primary-color; }

.woocommerce .card a,
.woocommerce .mis-cursos a { color: $light-color!important; }

.woocommerce table.shop_table_responsive tr td:before, .woocommerce-page table.shop_table_responsive tr td:before { display: none;  }

//icons

.woocommerce .woocommerce-info:before { color: $primary-color; }

//background

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment { background-color: $light-color; }

.woocommerce mark { background: $primary-transparent--light; }
//MY ACCOUNT

nav.woocommerce-MyAccount-navigation {
	box-shadow: none;
	border-bottom: 2px solid $primary-color!important;
	margin-bottom: $margin-size;
	z-index: initial!important;
	a { color: $dark-color; }
	ul li.is-active {
		background-color: $primary-color!important;
		a { color: $light-color!important; }
	}
}
@media(max-width:600px){ nav.woocommerce-MyAccount-navigation ul a { padding: 5px 15px; } }

address { margin-top: 20px; }

.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads,
.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--orders{ display: none;}

// Checkout

// select checkout form

.checkout.woocommerce-checkout .woocommerce-billing-fields select{ display: block !important}
.select2-container{ display: none !important;}
.woocommerce form .form-row.woocommerce-validated select{ border-color: #13c2ac; }

.payment_box.payment_method_openpay_cards div div div{ width: 100% !important;}

.woocommerce-checkout #payment ul.payment_methods li{ padding: 15px 0 !important ;}

.woocommerce-checkout-pedido{
	padding: 10px 20px;
    background: #e5f5f3;
    border-radius: 30px;
}

// CART

.woocommerce table.cart td.actions .coupon{ @media #{$medium-and-down} { margin: 53px 0;}}
.coupon input.btn{ padding: 0 1em !important}

.woocommerce table.shop_table td{  @media #{$medium-and-down} {border-top: none !important;}}
.woocommerce table.shop_table td.product-price,
.woocommerce table.shop_table td.product-quantity,
.woocommerce table.shop_table td.product-subtotal{
	@media #{$medium-and-down} {
		text-align: right !important;
		font-weight: bold;
	}
}
.woocommerce table.shop_table_responsive tr.cart-subtotal td{ @media #{$medium-and-down} { display: none;} }

.woocommerce table.shop_table_responsive tr.order-total td{
	@media #{$medium-and-down} {
		text-align: right !important;
		font-weight: bold;
		font-size: 1.5rem;
	}
}

div.quantity{ @media #{$medium-and-down}{ display: inline;}}

//checkout
label[for=payment_method_paypal] { width: 100%; }
.woocommerce-checkout #payment .payment_method_paypal .about_paypal { display: none; }
.woocommerce #payment .terms, .woocommerce #payment .wc-terms-and-conditions { float: none; }
.woocommerce #payment #place_order { margin-bottom: 20px; }

//Single product
.product_meta .sku_wrapper,
.woocommerce-Tabs-panel--description h5,
//.related.products,
.info-product .related.products,
.related-products .woocommerce-tabs,
.pp_hoverContainer,
.pp_gallery { display: none!important; }
.quantity {
	width: 80px;
	float: left;
	padding-right: 20px;
}
.quantity input {
	background-color: #e8e8e8;
	padding: 0 5px;
	border: none;
}


.title-product h3{
	color: #fff;
	padding: 10px 0;
	font-size: 24px;
	font-weight: 300;
}

ul.products {
	a { color: #fff!important; }
	a.woocommerce-LoopProduct-link {
		display: block;
		position: relative;
		.box-product {
			img { width: 100%; height: auto; }
			.onsale { display: none; } /*position: absolute;*/
		}
	}
	.title-product h3 {
		color: $dark-color!important;
		margin-top: 0px; margin-bottom: 5px;
	}
}

.box-shadow li {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	display:block;
}

.variations select { display: block; background-color:#eee!important; }

table.variations td.label {
	display: inline-block;
	margin-top: 10px;
}

//Cycle slider
#cycle-1 div { width:100%; }
#cycle-2 .cycle-slide { border:2px solid #fff; width: 20%!important; }
#cycle-2 .cycle-slide-active { border:2px solid #13C2AC; }
#slideshow-1,#slideshow-2 { width: 100%; margin: auto }
#slideshow-2 { margin-top: 10px;}
.cycle-slideshow img { width: 100%; height: auto; display: block; }

.cycle-carousel-wrap { left: 0px!important; }


#slideshow-1 .onsale , #slideshow-2 .onsale { display: none; }

.buttons-cart .added_to_cart.wc-forward {
	display: block;
	color: $primary-color!important;
	position: absolute;
	text-align: center;
	width: 100%;
}

.buttons-cart .added_to_cart.wc-forward:hover { text-decoration: underline; }

/*Tienda*/

.popular-product {
	li.type-product { margin-bottom: 30px; padding-bottom: 25px; }
	.box-product {
		position: relative;
		.onsale { display: none; } /*position: absolute;*/
		img { width: 100%; height: auto; }
	}
}



.content-product {
	li.type-product { padding-bottom: 25px; }
	.info-product{
		min-height: 75px;
		.title-product {
			//min-height: 72px
			min-height: 98px;
		}
		.title-product h3 {
			color: $dark-color!important;
			margin-top: 0px; margin-bottom: 0px; padding: 10px;
			width: 100%;
		}
	}
}

//Related products
.info-product .woocommerce-tabs { display: block!important; }